<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Your message to user when the camera is accessed for the first time</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Your message to user when the photo library is accessed for the first time</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your message to user when the microphone is accessed for the first time</string>
	<key>NSFaceIDUsageDescription</key>
	<string>$(App_Name) requires FaceID access to allows you quick and secure access.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Your message to user when the photo library is accessed for the first time</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb{your-app-id}</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>611542379474960</string>
	<key>FacebookDisplayName</key>
	<string>Bhavansh Aurora</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Buca</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Champagne &amp; Limousines Bold Italic.ttf</string>
		<string>Champagne &amp; Limousines Bold.ttf</string>
		<string>Champagne &amp; Limousines Italic.ttf</string>
		<string>Champagne &amp; Limousines.ttf</string>
		<string>ChopinScript.ttf</string>
		<string>Milky Matcha.otf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Champagne-Bold.ttf</string>
		<string>Champagne-BoldItalic.ttf</string>
		<string>Champagne-Italic.ttf</string>
		<string>Champagne.ttf</string>
		<string>MilkyMatcha.otf</string>
		<string>AlexBrush.ttf</string>
		<string>bakery.ttf</string>
		<string>BoxSpagethy-Italic.ttf</string>
		<string>BoxSpagethy.ttf</string>
		<string>ChocolateCoveredRaindrops-Bold.ttf</string>
		<string>ChocolateCoveredRaindrops.ttf</string>
		<string>Emillisa.ttf</string>
		<string>EuropeUnderground-Bold.ttf</string>
		<string>EuropeUnderground.ttf</string>
		<string>MissNelly.ttf</string>
		<string>Rubellas.ttf</string>
		<string>TheanoDidot.ttf</string>
		<string>WowDarling.ttf</string>
	</array>
</dict>
</plist>
